.my_navbar {
  background-color: #1e1e1e;
  height: 95vh;
  width: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.my_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.my_menu > img {
  border-bottom: 3px solid #5a5a5a;
  width: 100%;
  padding: 20px 0px;
}

.my_navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  height: 40vh;
  width: 200px;
}

.my_active_link > a,
.my_active_icon a > img {
  background-color: #3b00e3;
  border-radius: 10px;
}

.my_active_icon a > img {
  padding: 5px;
  margin-right: 5px !important;
}

.my_active_link ul,
.my_active_icon ul {
  display: block !important;
  width: inherit !important;
  margin-left: 40px;
}

.my_navbar ul li ul {
  display: none;
}

.my_navbar li {
  margin: 10px 0px;
}

.my_navbar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 10px;
  display: flex;
  align-items: center;
}

.my_navbar a img {
  margin-right: 10px;
}

.my_logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 3px solid #5a5a5a;
}

.my_logout button {
  border: none;
  background-color: #5eff8a;
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 20px;
  margin: 24px;
  cursor: pointer;
}

.my_logout button:hover {
  background-color: #11d346;
}
